* {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#detal {
	margin: auto 0;
	text-align: center;
}

.akapit {
	text-align: center;
	margin: 10px 0 20px 0;
	padding: 5px;
	border-top: 10px solid lightgrey;
	border-bottom: 3px solid lightgrey;
	border-radius: 5px;
	text-align: center;
}

#scroll {
	overflow-y: scroll;
	max-height: 480px;
}

li {
	cursor: pointer;
}

li:hover {
	background-color: blue;
}

.pytanie {
	border: 2px solid red;
	padding: 10%;
}

a {
	cursor: pointer;
}

@media screen and (max-width: 768px) {h2 {font-size: 18px;}}