	<footer>
		<div class="row">
			<div id="dane" class="col-xs-12 col-sm-3 col-md-3">
			<h4>Kontakt</h4>
			<h5>
				Kinonia Handmade Adam Gomowski<br/>
				<a href="www.kikonia.pl">www.kikonia.pl</a><br/>
				tel: +48 509 242 942<br/>
				mail: <a href="mailto:kontakt@kikonia.pl">kontakt@kikonia.pl</a><br/><br/>
				ul. Lipowa 152A<br/>
				83-330 Pępowo<br/><br/>
				NIP: 5841097532<br/>
				Regon: 220837822
			</h5>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-9">
				<h4>Nota prawna</h4>
				<h5>
				Szanowni Klienci, <br/>
				chcielibyśmy wskazać, że szeroki wachlarz oferowanych przez nas produktów (pod względem kolorystki, wzornictwa jak i wykonania) sprawia, że nasze wyroby nie są prefabrykowane i są wykonywane na Państwa indywidualne zamówienie, wg podanej przez Państwa specyfikacji.<br/>
				W związku z tym pragniemy zaznaczyć, że w takim przypadku nie przysługuje Państwu prawo do odstąpienia od umowy zawartej na odległość. Ewentualne zwroty będą akceptowane wyłącznie w szczególnych przypadkach.<br/>
				Prosimy zatem o dokonywanie świadomych i przemyślanych zakupów.
				</h5>
				<h5>Podstawa prawna: art. 38 Ustawy o prawach konsumenta z dnia 30 maja 2014r.</h5>
			</div>
		</div>
	</footer>