<h1>Tkaniny</h1>
<div *ngFor="let tkanina of tkaniny; let i1 = index">
  <div class="row"
    *ngIf="i1 % liczObrWWierszuTabela.length === 0">
    <div class="col-xs-12 col-sm-6 col-md-2"
      *ngFor="let i2 of liczObrWWierszuTabela">
        <a
          *ngIf="i1+i2 <= dlListTkan"
          [href]="'./assets/tkan/big/' + tkanina[i1+i2].imgPath">
          <img [src]="'./assets/tkan/' + tkanina[i1+i2].imgPath" alt="tkanina"><br>
        </a>
        <table *ngIf="i1+i2 <= dlListTkan"><tr>
                <td class="numer">{{i1+i2+1}}</td>
                <td>{{ tkanina[i1+i2].nazwa }}</td>
        </tr></table>
    </div>
  </div>
</div>