img {
  max-height: 150px;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
}

a :hover {
  border: 2px solid  red;
  animation-name: example;
  animation-duration: 0.2s;
  animation-iteration-count: 2;
  animation-direction: alternate;  
}
.numer {
  width: 30px;
  cursor: pointer;
}

@keyframes example {
  from {transform: scale(1);}
  to {transform: scale(1.1);}
}