<div class="row">
  <div class="col-md-12">
    <h2 class="akapit">O firmie</h2>
    Witamy na stronie internetowej pracowni krawieckiej Kikonia Handmade.
    <br><br>
    Jesteśmy niewielką pracownią specjalizującą się w wykonywaniu zamówień na szczególne życzenia naszych klientów.
    <br><br>
    Wykonujmey nasze wyroby z najlepszej jakości materiałów i dokładamy starań, aby wykonanie było nienaganne.
    <br><br>
    Szczycimy się dopasowasowaniem naszej oferty do Państwa potrzeb a także, w przypadku indywidualnych zamówień, elastyczności.
  </div>
</div>	